*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 500 !important;
  line-height: 25px;
  color: #60636c !important;
  font-family: "Montserrat", sans-serif !important;
}

h1 {
  position: absolute;
  font-size: 200px !important;
  line-height: 200px;
  letter-spacing: 10px;
  z-index: 1;
  color: #f0f0f5;
  font-weight: 700 !important;
}

h2 {
  font-size: 56px !important;
  font-weight: 700 !important;
  line-height: 56px !important;
}

.button {
  font-weight: 500 !important;
  border-radius: 0 !important;
  padding: 20px 40px !important;
}

.navbar-nav {
  font-weight: 600;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px !important;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 130px !important;
  }
}

@media (max-width: 767px) {
  h1 {
    display: none;
  }
}

@media (max-width: 414px) {
  h2 {
    font-size: 45px !important;
    margin-bottom: 20px !important;
  }
}

/*  All CSS aPropos section */
#aPropos .container {
  margin-top: 100px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#aPropos h2 {
  padding-top: 180px;
  margin-bottom: 56px;
}

.welcom-img {
  margin-top: 150px;
}

.welcome-text {
  padding-left: 20%;
  margin-right: 10%;
  max-width: 60%;
}

@media (min-width: 1609px) {
  #aPropos h1 {
    left: 50px;
    top: -3vh;
  }
}

@media (max-width: 1608px) {
  #aPropos h1 {
    left: 38px;
    top: -3vh;
  }
}

@media (max-width: 1440px) {
  #aPropos h1 {
    left: 100px;
  }
}

@media (max-width: 1280px) {
  #aPropos h1 {
    left: 90px;
  }
}

@media (max-width: 1024px) {
  #aPropos .container {
    flex-direction: column;
  }
  .welcome-text {
    max-width: 100%;
    padding-left: 0px;
    margin-left: 10%;
  }
  #aPropos h1 {
    top: 0vh;
    left: 100px;
  }

  #aPropos h2 {
    font-size: 50px;
    padding-top: 150px;
    margin-bottom: 30px;
  }
  .welcom-img {
    width: 50%;
    margin: 50px auto;
  }
}
@media (max-width: 834px) {
  #aPropos h1 {
    top: 0vh;
    left: 10px;
  }

  #aPropos h2 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    padding-top: 180px;
    margin-bottom: 50px;
  }

  .welcom-img {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  #aPropos h2 {
    margin-top: 0px;
    font-size: 40px;
    line-height: 50px;
    padding-top: 10px;
    text-align: center;
  }
  .welcom-img {
    width: 80%;
    margin: 30px auto;
  }
}

/*  fin CSS aPropos section */

/*  CSS  Services section */

.arrow {
  margin-left: 20px;
}

.services-card {
  position: relative;
}

.card-title {
  position: absolute;
  top: 500px;
  left: 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: white;
}

@media (min-width: 1025px) {
  .services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
  }
  .services-card {
    max-width: 400px;
  }
  .middle {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 1024px) {
  .card-title {
    top: 250px;
  }
}

@media (max-width: 768px) {
  .card-title {
    top: 190px;
  }
}

@media (max-width: 414px) {
  #services .button,
  #galerie .button {
    display: none !important;
  }
  .card-title {
    top: 240px;
  }
}

@media (max-width: 375px) {
  .card-title {
    top: 220px;
  }
}
@media (max-width: 320px) {
  .card-title {
    top: 180px;
  }
}
/*  fin CSS services section */


/*  CSS  footer section */

footer {
  height: 200px;
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: #f0f0f5;
}

#footer .container {
  text-align: center;
  position: relative;
  flex-flow: row;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.footer-img {
  background-color: #1b1d23;
  height: 100%;
  width: 200px;
  padding: 20px;
  margin-right: 20px;
}

footer .navbar-nav {
  flex-direction: row !important;
  font-weight: 600;
  justify-content: space-around;
}

.nav-item {
  margin: 20px;
}

footer button {
  width: 300px;
  height: 72px;
  margin-right: 10%;
}

@media (max-width: 1024px) {
  footer {
    height: 160px;
  }

  .footer-img {
    width: 15%;
    padding: 10px;
  }
  footer button {
    width: 250px;
    height: 72px;
    margin-right: 0%;
  }
}

@media (max-width: 766px) {
  footer .navbar {
    display: inline;
  }

  footer .navbar-nav {
    flex-direction: column !important;
    margin: 20px;
  }

  footer {
    height: 350px;
    justify-content: center;
    margin-top: 80px;
  }

  #footer .container {
    flex-direction: column !important;
    justify-content: center;
    text-align: center;
  }

  .footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    padding: 10px;
    position: absolute;
    top: -50px;
    margin-right: 0px;
  }

  .nav-item {
    margin: 0px;
  }

  footer button {
    width: 280px;
    height: 72px;
    margin-right: 0%;
  }
}

/*  fin CSS footer section */
